

.course-img {
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.text-area {
    height: 55%;
}

.text-area h3 {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;

    font-weight: 600;
}

span.dep-dot p {
    width: 200px;
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}

h3,
.h3 {
    font-size: 1.170625rem;
}